:root {
    --brand-color: #CE0A2C;
    --brand-hover: #E1001E;
    --bg-color: #FFFFFF;
    --text-color: #000000;
    --secondary-text: #707070;


    /* products colors */
    --nude: #C38B66;
    --black: #000;
    --brown: #623319;

    /* fonts */
    --heading-font: "Playfair Display", serif;
    --main-font: 'Montserrat', sans-serif;
}

.dark {
    --bg-color: #111111;
    --text-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    font-weight: 700;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

p {
    font-family: var(--main-font);
}

.title {
    font-size: clamp(1.5rem, 4vw + 0.75rem, 2.1rem);
    margin: 0.5rem 0;
}

.hidden {
    display: none;
}

@media (max-width: 655px) {
    .no-mobile {
        display: none !important;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #111111;
        --text-color: #F5F5F5;
    }
}